.section {
  max-width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  align-content: space-between;
  flex-wrap: wrap;
  display: flex;
}

.hidden {
  opacity: 0;
  display: none;
}
