.option {
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  font-weight: normal;
  background-color: var(--select-option-bg);
  color: var(--select-option-color);
  user-select: none;
  border: 0;
  cursor: var(--select-option-cursor);
  transition:
    background 0.2s ease 0s,
    border-color 0.2s ease 0s;
  font-size: var(--select-font-size);
  width: var(--select-option-width);
  height: var(--select-option-height);
  padding: var(--select-option-padding-top) var(--select-option-padding-right)
    var(--select-option-padding-bottom) var(--select-option-padding-left);
  margin: var(--select-option-margin-top) var(--select-option-margin-right)
    var(--select-option-margin-bottom) var(--select-option-margin-left);
}

.option:hover {
  background-color: var(--select-option-hover-bg);
  color: var(--select-option-hover-color);
}

.divider {
  line-height: 0;
  overflow: hidden;
  border-top: 1px solid var(--select-option-divider-border);
  width: var(--select-option-width);
  height: var(--select-option-divider-height);
  padding: var(--select-option-divider-padding-top)
    var(--select-option-divider-padding-right)
    var(--select-option-divider-padding-bottom)
    var(--select-option-divider-padding-left);
  margin: var(--select-option-divider-margin-top)
    var(--select-option-divider-margin-right)
    var(--select-option-divider-margin-bottom)
    var(--select-option-divider-margin-left);
}

.label {
  color: var(--select-option-label-color);
  border-bottom: 1px solid var(--select-option-divider-border);
  text-transform: capitalize;
  cursor: default;
  font-size: var(--select-option-label-font-size);
  width: var(--select-option-width);
  font-weight: 500;
}
