.withLabel {
  display: inline-block;
  box-sizing: border-box;
}

.numberInput {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: var(--input-height);
  border: 1px solid var(--input-border);
  border-radius: var(--input-radius);
  background: var(--input-bg);
  transition: border 0.2s ease;
}

.numberInput:hover,
.numberInput:focus-within {
  border-color: var(--input-hover-border);
}

.numberInput.disabled {
  cursor: not-allowed;
}

.input {
  flex: 1;
  width: 100%;
  min-width: 4em;
  margin: 0 0.625em;
  padding: 0;
  font: inherit;
  color: var(--input-color);
  background: transparent;
  border: none;
  outline: none;
}

.input:disabled {
  cursor: not-allowed;
}

.control {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: calc(var(--input-height) - 2px);
  height: 100%;
  margin: 0;
  padding: 0;
  font: inherit;
  color: var(--control-color);
  background: none;
  border: 0;
  cursor: pointer;
}

.control:hover:not(:disabled) {
  color: var(--control-hover-color);
}

.control:disabled {
  color: var(--control-disabled-color);
  cursor: not-allowed;
}
