.progress {
  position: relative;
}

.progress progress {
  position: fixed;
  top: -1000px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.fixed {
  position: fixed;
  left: 0;
  border-radius: 0;
}

.fixed > .inner {
  border-radius: 0;
}

.inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  bottom: 0;
  transition: all 100ms ease-in;
}
