.wrapper {
  display: inline-flex;
  box-sizing: border-box;
  user-select: none;
  border-radius: var(--textarea-radius);
  border: 1px solid var(--textarea-border);
  color: var(--textarea-color);
  background-color: var(--textarea-bg);
  transition:
    border 0.2s ease 0s,
    background-color 0.2s ease 0s,
    color 0.2s ease 0s;
  min-width: 12.5rem;
  max-width: 95vw;
}

.wrapper:hover {
  border-color: var(--textarea-hover-border);
  background-color: var(--textarea-hover-bg);
}

.wrapper.hover {
  border-color: var(--textarea-focus-border);
  background-clip: padding-box;
}

.wrapper.disabled {
  cursor: not-allowed;
}

.textarea {
  background-color: transparent;
  box-shadow: none;
  display: block;
  font-family: var(--textarea-font-family);
  font-size: var(--textarea-font-size);
  width: 100%;
  border: none;
  outline: none;
  resize: var(--textarea-resize);
  border-radius: var(--textarea-radius);
  color: inherit;
}

.textarea::placeholder {
  color: var(--textarea-placeholder-color);
}

.disabled > .textarea {
  cursor: not-allowed;
}

.textarea:-webkit-autofill,
.textarea:-webkit-autofill:hover,
.textarea:-webkit-autofill:active,
.textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px var(--textarea-autofill-bg) inset !important;
  -webkit-text-fill-color: var(--textarea-autofill-color) !important;
}
