.footer {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer > :global(button.btn + button.btn) {
  border-left: 1px solid var(--modal-actions-border);
}

.spacer {
  flex-shrink: 0;
}
